[user]
    email = rayting@raydar.net
    name = raytingsec
[push]
    default = simple
[merge]
    summary = true
[core]
    editor = vim
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff --color-words='\\w+|.|[^[:space:]]'
    lg = log -p --abbrev-commit
    who = shortlog -s --
    poll-update = fetch --dry-run
    update = remote update --prune
    push-head = push origin HEAD

    # git log styles
    log-graph = log --graph --abbrev-commit --decorate --date-order
    # Source:
    # http://stackoverflow.com/questions/1838873/visualizing-branch-topology-in-git/34467298#34467298
    log-flow = !"git log-flow-this" --all
    log-flow-this = log --graph --abbrev-commit --decorate  --format=format:'%C(blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    log-fc = log-flow-chrono
    log-flow-chrono = !"git log-flow" --date-order
