[user]
    email = rayting@raydar.net
    name = raytingsec
[push]
    default = simple
[merge]
    summary=true
[core]
    editor = vim
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    who = shortlog -s --
    update = remote -v update

    # Pretty logging (deprecated, use log-flow instead)
    #log-pretty = log --graph --abbrev-commit --decorate --all --pretty=oneline
    # http://stackoverflow.com/questions/1838873/visualizing-branch-topology-in-git/34467298#34467298
    log-flow = !"git log-flow-this" --all
    log-flow-this = log --graph --abbrev-commit --decorate  --format=format:'%C(blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    log-flow-chrono = !"git log-flow" --date-order
