[Unit]
Description=Disable Energy Efficient Ethernet (802.3az)

[Service]
Type=oneshot
ExecStart=ethtool --set-eee {interface} eee off

[Install]
WantedBy=multi-user.target
